<!-- Footer Area-->
<footer class="footer-area">
  <div class="container">
    <div class="copywrite-wrapper mt-5 rounded d-lg-flex align-items-lg-center justify-content-lg-between">
      <!-- Copywrite Text -->
      <div class="copywrite-text text-center text-lg-start mb-3 mb-lg-0 me-lg-4">
        <p class="mb-0">2024 &copy; All rights reserved.</p>
      </div>
      <!-- Footer Nav -->
      <div class="footer-nav mb-3 mb-lg-0 me-lg-4">
        <ul class="mb-0 d-flex flex-wrap justify-content-center list-unstyled">
          <li><a href="#" target="_blank">Privacy Policy</a></li>
          <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
          <li><a href="#" target="_blank">Get Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Scroll To Top  -->
<div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>
