<!-- Header Area-->
<header class="header-area">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Navbar Brand --><a class="navbar-brand" href="index.html"> <span style="color: white;">P&T MediaWorks</span>
        <!-- <img src="img/core-img/logo-white.png" alt=""> -->
      </a>
      <!-- Navbar Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#saasboxNav" aria-controls="saasboxNav" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-grid"></i></button>
      <!-- Navbar Nav -->
      <div class="collapse navbar-collapse" id="saasboxNav">
        <ul class="navbar-nav navbar-nav-scroll">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
